html {
  background-color: rgba(249,249,249,255);
}

.grid-container {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 270px auto 270px;
  gap: 15px;
  min-height: 90vh;
}

.right-sidebar {
  background-color: rgba(255,255,255,255);
  box-shadow: -0.75px -0.75px rgb(235, 234, 234);
}

.left-sidebar {
  background-color: rgba(255,255,255,255);
  box-shadow: -0.75px -0.75px rgb(235, 234, 234);
}

.scenes {
  background-color: rgba(255,255,255,255);
  box-shadow: -0.75px -0.75px rgb(235, 234, 234);
}

.bars {
  display: flex;
  padding-top: 15px;
  padding-bottom: 13px;
}