html {
  background-color: white;
}

.grid-container {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 270px 15px auto 15px 270px;
  min-height: 90vh;
  z-index: 1000;
  margin: 71px 0 0 -7px;
  width: 99vw !important;
}

.right-sidebar {
  background-color: rgba(255,255,255,255);
  box-shadow: -0.75px -0.75px rgb(235, 234, 234);
  z-index: 2000;
}

.left-sidebar {
  background-color: rgba(255,255,255,255);
  box-shadow: -0.75px -0.75px rgb(235, 234, 234);
  z-index: 2001;
}

.scenes {
  background-color: rgba(255,255,255,255);
  box-shadow: -0.75px -0.75px rgb(235, 234, 234);
  width: 100%;
}

.bars {
  display: flex;
  padding-top: 15px;
  padding-bottom: 13px;
}

.modal {
  top: 30%;
  left: 50%;
  right: auto;
  bottom: auto;  
  transform: translate(-50%, -50%);
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding-top: 80vh;
  background-color: rgba(189, 189, 189, 0.5);
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  z-index: 5000;
}

.border-modal {
  border: 1px solid black;
  position: fixed;
  left: 35%;
  padding: 30px;
  border-radius: 8px;
  background-color: white;
}

.x-close {
  position: absolute;
  color:rgb(151, 151, 151);
  font-size: 18px;
  border-radius: 15px;
  padding: 0 5px 0 5px;
}

.x-close:hover {
  background-color: rgb(202, 202, 202);
  color: rgb(158, 158, 158);
  cursor: pointer;
}

.modal-buttons {
  position: absolute;
}

.modal-button {
  padding: 10px;
  margin-left: 10px;
  width: 70px;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 5px;
}

.ok {
  background-color: rgb(105, 183, 247);
  border: none;
}

.ok:hover {
  cursor: pointer;
}

.cancel:hover {
  background-color: rgb(213, 243, 255);
  cursor: pointer;
  color:rgb(105, 183, 247);
}

.pointer {
  cursor: pointer;
}

.title-rename {
  font-size: 15px;
  margin: 15px 258px 15px 0;
}

.input-rename {
  width: 460px;
  padding: 6px 15px;
  font-size: 15px;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 10px;
  outline: none;
}

.input-rename:hover {
  border-color: rgb(168, 168, 168);
}

.input-rename:focus {
  border-color: rgb(240, 0, 140);
}

.modal-button-ok-cancel {
  display: flex;
  margin: 30px 0 0 370px;
  font-size: 15px;
}

.modal-ok {
  margin-right: 8px;
  border-radius: 8px;
  padding: 6px 13px 3px 12px;
  background-color: rgb(32, 166, 255);
  color: white;
}

.modal-ok:hover {
  background-color: rgb(135, 206, 253);
}

.modal-cancel {
  border: 1px solid rgb(207, 207, 207);
  border-radius: 8px;
  padding: 5px 10px 3px 10px;
  color: black;
}

.modal-cancel:hover {
  background-color: rgb(231, 245, 255);
  color:rgb(0, 153, 255)
}

.display-none {
  display: none;
}

.hover:hover {
  color: black;
}

.not-allowed {
  cursor: not-allowed;
  color: rgb(175, 175, 175);
}

#bonus-space-left {
  z-index: 1000;
  background-color: white;
}

#bonus-space-right {
  z-index: 1000;
  background-color: white;
}

.konvajs-content {
  z-index: 1000;
}

.chat-btn {
  background-color: rgb(44, 44, 44);
  border-radius: 4px;
  position: absolute;
  color: white;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.chat-btn:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    right: 20px;
    bottom: -10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid rgb(44, 44, 44);
}

.pointer {
  cursor: pointer;
}