.bottom-bars {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(107, 107, 107);
  padding-left: 30px;
}

.scene-video-card {
  padding: 3px 15px 8px 15px;
  display: flex;
}

.button-add {
  padding: 5px 15px 3px 15px;
  position: absolute;
  display: flex;
  border-radius: 8px;
  border: 1px solid rgb(202, 202, 202);
  right: 300px;
  width: 100px;
}

.bottom-active {
  color:rgb(240, 0, 140);
  border-color: rgb(240, 0, 140);
}

.bottom-inactive {
  color: rgb(107, 107, 107);
  border-color: rgb(194, 194, 194);
}

.bottom-bar-label {
  font-size: 15px;
  margin: 0 0 0 3px;
}

.on-select {
  border-bottom: 2px solid rgb(240, 0, 140);
}

.scene-view {
  border-radius: 8px;
  margin-left: 20px;
  height: 100px;
  width: 170px;
  padding-top: 4px;
  border: 3px solid;
}

.name-scene-view {
  color: white;
  display: grid;
  margin-top: 83px;
  padding-left: 5px;
  background-color: rgb(58, 58, 58);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.buttons-scene-view {
  color:rgb(107, 107, 107);
  background-color: rgb(202, 202, 202);
  display: grid;
  column-gap: 10px;
  border-radius: 5px;
  grid-template-columns: 20px 20px 20px;
  margin: 0 4px 0 70px;
  font-size: 18px;
  position: absolute;
  width: 95px;
}

.button-scene-view {
  padding-left: 8px;
  padding-top: 5px;
  cursor: pointer;
}

.list-scene {
  display: flex;
}

.over-mouse {
  color: black
}

.video-add {
  position: absolute;
}

.choose-add-video {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  column-gap: 25px;
  margin-top: 25px;
}

.add-video-buttons {
  text-align: center;
  border: 1px solid rgb(212, 212, 212);
  padding: 35px 5px 25px 5px;
  border-radius: 5px;
}

.name-button-add-video {
  font-size: 13px;
  margin-top: 10px;
  color: rgb(94, 94, 94);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.add-video-buttons:hover {
  border-color: rgb(253, 76, 76);
  border-width: 2px;
  margin: -1px
}

.close-video {
  left: 535px;
  margin-top: -22px;
}

.close-layer-delete {
  left: 435px;
  margin-top: -22px;
}

.modal-button-delete {
  left: 280px;
  margin-top: 40px;
}

.border-modal-delete {
  width: 400px;
  height: 100px;
}

.click-scene-1 {
  position: absolute;
  width: 68px;
  height: 33px;
  margin-top: -5px;
}

.click-scene-2 {
  position: absolute;
  width: 170px;
  height: 55px;
  margin-top: 28px;
}

.inactive-true {
  cursor: not-allowed;
  color: rgb(141, 141, 141);
}