.header {
  display: flex;
  padding: 3px 0 3px;
  margin: -10px -8px -10px -10px;
  background-color: rgba(242,243,248,255);
  align-items: center;
  z-index: 4000;
}

.main-logo {
  margin: 12px 18px 7px 30px;
  height: 39px;
  width: 39px;
}

.name-stream {
  display: flex;
  font-family: SVN-GilroyBold!important;
  font-weight: 600!important;
  line-height: 30px;
  font-size: 16px;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  padding-bottom: 0!important;
  -webkit-line-clamp: 1;
  max-width: calc(100% - 16px);
  margin-right: 12px;
}

.input-name {
  padding-bottom: 0!important;
  -webkit-line-clamp: 1;
  font-size: 18px;
  align-self: center;
  min-width: 120px;
  margin-right: 6px!important;
  background: none!important;
  font-family: SVN-Gilroy!important;
  border: 1px solid #00a6fd!important;
  height: 18px;
}

.input-name:focus {
  border-color: solid #00a6fd;
}

.change-name {
  height: 2.1%;
  width: 2.1%;
  padding: 1.8px 0 0 3px;
}

.button-change-name {
  padding-top: 3px;
  margin-right: 45px;
}

.start-live-button {
  position: absolute;
  right: 2%;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ff6b8e!important;
  box-shadow: 0 1px 2px #b02;
  color: #fff;
  line-height: 30px;
  height: 60px;
  font-size: 15px;
  cursor: pointer;
  padding: 0px 30px;
  width: auto;
  height: 40px;
}

.space {
  margin-left: 7.5px;
}