.grid-left-container {
  display: grid;
  grid-template-areas: 'undo redo settings save link question';
  box-shadow: 0 1px #e0e0e0;
}

.grid-left-container > div {
  background-color:  white;
  height: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 15px;
}

.grid-left-container > div:hover {
  background-color: rgb(238, 238, 238);
}

.preview {
  box-shadow: 0 1px #e0e0e0;
  padding-bottom: 12px;
}

.preview-div {
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
  margin-top: 5px;
  padding-top: 5px;
}

.label-preview {
  text-decoration-line: underline;
  font-size: 12px;
  font-weight: 700;
  margin-right: 40px;
  margin-left: 10px;
}

.speed {
  margin-left: 12px;
}

.label-speed {
  color: rgb(109, 109, 109);
}

.label-info {
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
  margin-top: 8px;
  padding: 8px 8px 8px;
  background-color: beige;
  color: rgb(87, 87, 87);
}

.left-header {
  display: flex;
  box-shadow: 0 -2px #f0f0f0;
  margin: 10px 0 15px 0;
  padding: 10px 0 15px 0;
}

#name-layer {
  padding-left: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
}

#left-add {
  position: absolute;
  left: 248px;
  font-size: 21px;
  color: rgb(240, 0, 140);
}

#left-lock {
  position: absolute;
  left: 220px;
  font-size: 18px;
  padding-top: 2px;
  color: #969696;
}

.layer {
  display: flex;
  color:rgb(104, 104, 104);
  padding: 10px 0 5px 0;
}

.hover-layer {
  border: 1px solid rgb(129, 129, 129);
  margin: -1px -1px;
}

.selected-layer {
  background-color: rgb(238, 253, 255);
}

.name-layer {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.icon-layer {
  font-size: 17px !important;
  padding: 0 10px 0 10px;
}

#buttons-layer {
  opacity: 80%;
  position: absolute;
  left: 185px;
  display: flex;
  margin-top: -6px;
  padding: 5px 18px 5px 6px;
  border-radius: 8px;
  color: black;
}

.flex {
  background-color: rgb(255, 255, 255);
}

.none {
  visibility: hidden;
}

.duplicate-button {
  position: absolute;
  display: flex;
  font-size: 13px;
  left: 100px;
  bottom: 1.8px;
  background-color: white;
  padding: 7px;
  padding-right: 100px;
  border-radius: 8px;
}

.on-select-duplicate {
  background-color: rgb(202, 202, 202);
}

.show-add-button {
  color: #727272;
  background-color: white;
  border-radius: 5px;
  font-size: 15px;
  display: block;
  position: absolute;
  left: 25px;
  margin-top: -35px;
  border: 1px solid rgb(190, 190, 190);
  width: 170px;
  z-index: 500;
}

.show-button-1 {
  position: absolute;
  display: block;
  left: 175px;
  border-radius: 5px;
  width: 170px;
  background-color: white;
  margin-top: -39px;
}

.flex {
  display: flex;
}

.absolute {
  position: absolute;
  left: 165px;
  margin-top: -38px;
}

.left-add-buttons {
  padding: 10px;
}

.space-1 {
  padding: 19px;
}

.none-arrow {
  display: none;
}

.arrow-select {
  position: absolute;
  left: 150px;
  margin-top: -2px;
  font-size: 20px;
}

.click-layer {
  position: absolute;
  width: 182px;
  height: 36px;
  margin-top: -10px;
}